# Directories
data

# Python
venv

# Configuration files
.env
config
backend-config.tfvars

# Inventory files
*inventory.ini

# Terraform state files
*.tfstate*
.terraform

# Infisical files
.infisical.json
